#searcharea ul li{float:left;width: 240px;margin-right:5%;margin-left:5%;height:20px;margin-top:1px;list-style:none;}
.qname{width:80px;float:left;margin-top: 4px;text-align: right}
.qvalue{float:left}
