<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4"
	xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

	<display-name>acrs</display-name>

	<!-- Context Configuration locations for Spring XML files -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			/WEB-INF/applicationContext-*.xml
			/WEB-INF/datasource-context.xml
			/WEB-INF/queryProviderMapping-*.xml
		</param-value>
	</context-param>

	<!-- **** filters **** -->
	
	<!-- P3P filter -->
	<filter>
		<filter-name>p3pFilter</filter-name>
		<filter-class>org.nestframework.commons.p3p.P3pDisableFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>p3pFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<!-- Encoding filter -->
	<filter>
		<filter-name>encodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
		<init-param>
			<param-name>forceEncoding</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>
	<!-- encoding filter for jsp page -->
	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>*.jsp</url-pattern>
	</filter-mapping>
	<!-- encoding filter for nest action -->
	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>*.a</url-pattern>
	</filter-mapping>
	<!-- encoding filter for Acegi chinese loginname -->
	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>/j_acegi_security_check</url-pattern>
	</filter-mapping>
	
	<!-- Hibernate opensession in view filter(OSI) -->
	<filter>
		<filter-name>hibernateFilter</filter-name>
		<filter-class>org.springframework.orm.hibernate3.support.OpenSessionInViewFilter</filter-class>
	</filter>
	<!-- Hibernate osi filter for jsp page -->
	<filter-mapping>
		<filter-name>hibernateFilter</filter-name>
		<url-pattern>*.jsp</url-pattern>
	</filter-mapping>
	<!-- Hibernate osi filter for nest action -->
	<filter-mapping>
		<filter-name>hibernateFilter</filter-name>
		<url-pattern>*.a</url-pattern>
	</filter-mapping>
	
	<!-- acegi-->
	<filter>
		<filter-name>acegiFilterChain</filter-name>
		<filter-class>
			org.acegisecurity.util.FilterToBeanProxy
		</filter-class>
		<init-param>
			<param-name>targetBean</param-name>
			<param-value>filterChainProxy</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>acegiFilterChain</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
 
	<!-- sitemesh 
	<filter>
		<filter-name>sitemesh</filter-name>
		<filter-class>
			com.opensymphony.module.sitemesh.filter.PageFilter
		</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>sitemesh</filter-name>
		<url-pattern>*.html</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>sitemesh</filter-name>
		<url-pattern>*.jsp</url-pattern>
	</filter-mapping>
    <filter-mapping>
        <filter-name>sitemesh</filter-name>
        <url-pattern>*.a</url-pattern>
    </filter-mapping>
    -->
    
    <!-- **** listeners **** -->

	<!-- Spring context loader -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	
	<!-- Spring listener to expose the request to the current thread to use request, session, global session scopes in bean difination -->
	<listener>
	  <listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
	</listener>

	<!-- Clean up cache to prevent memory leaking. -->
	<listener>
		<listener-class>org.springframework.web.util.IntrospectorCleanupListener</listener-class>
	</listener>
	
	
	<!-- **** servlets **** -->
 	
	<!-- dwr(ajax) framework  -->
	<!--  -->
	<servlet>
		<servlet-name>dwr-invoker</servlet-name>
		<servlet-class>org.directwebremoting.servlet.DwrServlet</servlet-class>
		<init-param>
			<param-name>debug</param-name>
			<param-value>false</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>dwr-invoker</servlet-name>
		<url-pattern>/dwr/*</url-pattern>
	</servlet-mapping>
	
	<!-- nest framework -->
	<servlet>
		<servlet-name>nest-action</servlet-name>
		<servlet-class>org.nestframework.action.DispatcherServlet</servlet-class>
		<init-param>
			<!-- action base package -->
			<param-name>base</param-name>
			<param-value>com.becom.acrs.webapp.action</param-value>
		</init-param>
		<init-param>
			<!-- additional action handlers -->
			<param-name>actionHandlers</param-name>
			<param-value>
				org.nestframework.addons.spring.SpringBeanInitActionHandler,
				org.nestframework.validation.ValidationActionHandler,
				org.nestframework.data.JsonHandler,
				org.nestframework.data.XStreamActionHandler
			</param-value>
		</init-param>
		<init-param>
			<!-- 自动处理HTML转义，可防止跨站脚本攻击 -->
			<param-name>escapeHTML</param-name>
			<param-value>true</param-value>
		</init-param>
		<init-param>
			<!--  -->
			<param-name>maxPostSize</param-name>
			<param-value>524288000</param-value>
		</init-param>
		<!-- 
		<init-param>
			<param-name>exceptionHandlers</param-name>
			<param-value>
				your.exception.handler.classname
			</param-value>
		</init-param>
		 -->
		<load-on-startup>2</load-on-startup>
	</servlet>
    <servlet-mapping>
        <servlet-name>nest-action</servlet-name>
        <url-pattern>*.a</url-pattern>
    </servlet-mapping>

	<!-- jcaptcha-->
	<servlet>
		<servlet-name>jcaptcha</servlet-name>
		<servlet-class>com.becom.acrs.webapp.util.RandomCodeServlet</servlet-class>
		<load-on-startup>3</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>jcaptcha</servlet-name>
		<url-pattern>/captcha.jpg</url-pattern>
	</servlet-mapping>
	
	
	<jsp-config>
		<taglib>
			<taglib-uri>http://com.becom/tags/app</taglib-uri>
			<taglib-location>/WEB-INF/app-taglib.tld</taglib-location>
		</taglib>
	</jsp-config>
 	
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
</web-app>
